<div class="container-info">
    <div class="weather-content">
        <div class="city">
            <h2>
                <i class="fa-solid fa-location-dot"></i>
                <span>{{name}}</span>
            </h2>
            <img src="https://www.countryflagicons.com/FLAT/32/{{country}}.png" alt="">
        </div>

        <div class="temperature">
            <p><span>{{temperature}}</span> &deg;C</p>
        </div>

        <div class="weather">
            <h3>
                <span class="weather-stats">{{description}}</span>
            </h3>
            <img src="http://openweathermap.org/img/wn/{{icon}}.png" alt="">
        </div>

        <div class="weather-data">
            <div class="aside-1">
                <p><i class="fa-solid fa-droplet"></i></p>
                <p><span>{{humidity}}</span>%</p>
            </div>

            <div class="aside-2">
                <p><i class="fa-solid fa-wind"></i></p>
                <p><span>{{wind}}</span>km/h</p>
            </div>

        </div>


    </div>
</div>
<div class="restart"> <button ><a href="/">Escolher outra cidade</a></button> </div>